<div class="container">
  <!-- <app-title-section [title]="'Encuentranos'"></app-title-section> -->
  <div class="direction">
    <h3><Span>Visitanos</Span>Vía Baños Km 8</h3>
  </div>
  <img class="croqui" src="../../../../../assets/images/website/google-maps/croqui.png" alt="Croqui Google Maps" />
  <a class="logo" href="https://maps.app.goo.gl/AodrV2fMe3UJbAZu8" target="_blank">
    <p class="label-logo">Abrir en</p>
    <img src="../../../../../assets/images/website/google-maps/logo-google-maps.png" alt="Logo Google Maps" />
  </a>
</div>
