// Items
.nav-link {
  color: var(--blue-gray);
}

.nav-link:hover {
  color: var(--color-secondary);
}

.nav-link:focus {
  color: var(--color-secondary);
}

// Dropdown
.nav-item {
  position: relative;

  .dropdown-menu {
    min-width: 200px;
    overflow-y: scroll;
    display: none;
    position: fixed;
    top: 100px;
    transform: translate(-38%);
    left: 50%;
    z-index: 1000;
    padding: 0.5rem 0;
    background-color: white;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 0.25rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }

  /* Muestra el menú cuando el dropdown está en hover */
  &:hover .dropdown-menu {
    display: block;
  }

  .space-line {
    width: 100%;
    height: 2px;
    background-color: var(--color-text);
    opacity: 75%;
    border-radius: 20px;
  }
}

/* Dropdown avanzado en múltiples columnas */
.advanced-dropdown {
  .dropdown-menu {
    width: 80%;
    /* Ocupa todo el ancho deseado */
    padding: 1rem;

    .dropdown-header {
      // text-align: center;
      font-size: 1.1rem;
      font-weight: bold;
      color: var(--color-primary);
      margin-bottom: 0.5rem;
    }

    .dropdown-item {
      padding: 0.5rem 1rem;
      font-size: 1.1rem;
      color: var(--color-text);
      // text-align: center;

      &:hover {
        background-color: #f0f0f0;
        color: var(--color-text);
      }
    }
  }
}


// Grid
.grid-container {
  display: grid;
  gap: 20px;
  /* Espacio entre los cuadros */
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  /* Ajusta minmax para cambiar el ancho mínimo de los cuadros */
}

.grid-item {
  padding: 10px;
}
