      <!-- Dropdown Avanzado con Columnas -->
      <li class="nav-item dropdown advanced-dropdown">
        <a class="nav-link dropdown-toggle" [routerLink]="item.url" role="button">
          <i [ngClass]="item.icon"></i>
          {{ item.title }}
        </a>
        <div class="dropdown-menu">
          <div class="row">
            <h2 class="text-center">{{ item.title }}</h2>
          </div>

          <div class="space-line"></div>

          <div class="grid-container">
            @for(category of item.children; track $index) {
              <div class="grid-item">
                <h6 class="dropdown-header">{{ category.title }}</h6>
                @for(subcategory of category.children; track $index) {
                  <a class="dropdown-item" href="#">{{ subcategory.title }}</a>
                }
              </div>
            }
          </div>
        </div>
      </li>
