<app-navigation></app-navigation>
<section class="history-content">
  <div class="history-image">
    <div class="history-background"></div>
    <img src="../../../../assets/images/website/about/ferri-background.png" alt="Historia Imagen" />
  </div>
  <div class="history-content-text">
    <h1 class="history-title">
      NUESTRA HISTORIA
      <span>FERRIDESCUENTOS</span>
    </h1>
    <p class="history-text">
      Our company was founded in 2010 by a group of passionate individuals who wanted to make a difference in the world. We started out as
      a small team of developers and designers, but we quickly grew into a full-fledged digital agency with clients all over the world.
      Our mission is to help businesses succeed online by providing them with the tools and resources they need to thrive in the digital
      age. We believe that every business deserves a beautiful website that is easy to use and navigate, and we work hard to make that
      happen for our clients.
    </p>
  </div>
</section>
<app-footer></app-footer>
