<app-navigation></app-navigation>
<main class="history-content">
  <div class="history-image">
    <div class="history-background"></div>
    <img src="../../../../assets/images/website/about/ferri-background.png" alt="Historia Imagen" />
  </div>
  <div class="history-content-text">
    <h1 class="history-title">
      NUESTRA HISTORIA
      <span>FERRIDESCUENTOS</span>
    </h1>
    <p class="history-text">
      Desde su fundación en 2010, Ferridescuentos se ha dedicado a satisfacer las necesidades de constructores y familias locales, consolidándose como un aliado confiable para proyectos de todos los tamaños. Es por eso que nos enfocamos en ofrecer una mayor variedad de productos, sin comprometer nuestro enfoque en la acceesibilidad y calidad, buscando mejorar siempre al servicio de nuestros clientes.
    </p>
  </div>
</main>
<section class="company-content container">
  <div class="company-card">
    <h2 id="style-card" class="company-title">MISIÓN</h2>
    <p class="company-text">Nuestra misión en Ferridescuentos es proporcionar productos de ferretería de alta calidad a precios competitivos, mientras ofrecemos un servicio excepcional
      y personalizado a cada uno de nuestros clientes. Nos esforzamos por ser un
      recurso confiable y accesible para la comunidad de Ambato, ayudando a
      particulares y pequeños contratistas a llevar a cabo sus proyectos con éxito. </p>
  </div>
  <div class="company-card">
    <h2 id="style-card" class="company-title">VISIÓN</h2>
    <p class="company-text">Convertirnos en la ferretería líder en Ambato, reconocidos por nuestra calidad, valor, servicio al cliente y compromiso con la comunidad, brindando los mejores productos
      de ferretería con un servicio excepcional, todo ello en un entorno sostenible. Buscamos ser una empresa de referencia en la región, impulsando el desarrollo local y contribuyendo al bienestar de nuestros clientes y colaboradores mediante innovación y responsabilidad social.</p>
  </div>
</section>
<app-footer></app-footer>
