<section class="footer">
  <!-- <div class="menu"></div> -->
    <div class="logo">
      <!-- Logo -->
      <a class="navbar-brand" [routerLink]="'/home'">
        <img src="../../../../favicon.ico" alt="Logo ferridescuentos" />
      </a>
      <p class="copyright">Copyright © {{year}} Ferridescuentos </p>
    </div>
    <div class="social-media">
      <div class="facebook">
        <a href="/">
          <i class="ti ti-brand-facebook"></i>
        </a>
      </div>
      <div class="instagram">
        <a href="/">
          <i class="ti ti-brand-instagram"></i>
        </a>
      </div>
    </div>
</section>
