@import '../variables.scss';

// Space nav
.space-nav {
  height: 165px;

  @media (max-width: $laptop) {
    height: 150px;
  }
}

#mainNavbar {

  @media (max-width: $tablet) {
    display: flex;
    justify-content: center;
  }

  // Top menu
  .topmenu {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 35px;
    background-color: $color-blue-middle;
    display: flex;
    justify-content: end;
    align-items: center;

    @media (max-width: $tablet) {
      display: none;
    }

    .topmenu-container {
      font-weight: normal;
      display: flex;
      width: 50%;
      flex-direction: row;
      justify-content: space-around;
      padding-right: 1rem;

      a {
        color: $color-background;
      }

      @media (max-width: 1100px) {
        width: 60%;
      }
    }
  }
}

.hidden {
  transform: translateY(-100%);
  opacity: 0;
}

.visible {
  transform: translateY(0);
  opacity: 1;
}

.content {
  padding-top: 64px;
}

.category {
  margin-top: 10px;
  font-weight: bold;
}

// Navbar
.nav-content {
  transition: transform 0.3s ease, opacity 0.3s ease;
  z-index: 200;
  padding: 1rem 2rem !important;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: $color-background;
  color: $color-text;
  font-size: $font-size-large;
  font-weight: 500;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

  @media (max-width: $laptop) {
    justify-content: center;
  }

  .navbar-brand img {
    padding-top: 2rem;
    width: 325px;
    height: 110px;

    @media (max-width: $phone) {
      width: 275px;
    }
  }

  .navbar-nav {
    padding-top: 2rem;
  }

  .navbar-items {
    padding-right: 10%;
    display: flex;
    justify-content: flex-start;
    cursor: pointer;

    @media (max-width: $laptop) {
      padding-right: 0;
    }

    @media (max-width: $tablet) {
      display: none;
    }

    .darkmode-button {
      display: flex;
      align-items: center;
      padding: .5rem;
    }

    // Remove transition of bootstrap
    .nav-link {
      transition: none;
    }

    .nav-link {
      color: $color-text;
    }

    .nav-link:hover {
      color: $color-secondary!important;
    }

  }

}
