<!-- Slider -->
<section class="slider">
  <div class="list" #sliderList>
    @for (slider of sliderObject; track $index) {
      <div class="item" #sliderItem>
          <picture>
            <source [srcset]="slider.imageTablet" media="(max-width: 800px)">
            <img [src]="slider.image" alt="Slide {{slider.alt}}">
          </picture>
          <div class="text-contain">
            <div class="title">
              {{ slider.title }}
            </div>
            <div class="text">
              {{ slider.text }}
            </div>
          </div>
      </div>
    }
  </div>
  <div class="buttons">
      <button id="prev" (click)="prev()"><</button>
      <button id="next" #nextButton (click)="next()">></button>
  </div>
  <ul class="dots">
    @for (dot of sliderObject; track $index) {
      <li [class.active]="$index === active"
          (click)="setActive($index)"
          #dot>
      </li>
    }
  </ul>
</section>
