<div class="container">
  <app-title-section [icon]="'ti ti-clock-hour-9'" [title]="'Horarios de atención'"></app-title-section>

  <div #schedule class="schedule-container">
    <div class="schedule red">
      <div class="day">Domingo</div>
      <div class="time">CERRADO</div>
    </div>
    <div class="schedule">
      <div class="day">Lunes</div>
      <div class="time">8 AM - 7 PM</div>
    </div>
    <div class="schedule">
      <div class="day">Martes</div>
      <div class="time">8 AM - 7 PM</div>
    </div>
    <div class="schedule">
      <div class="day">Miércoles</div>
      <div class="time">8 AM - 7 PM</div>
    </div>
    <div class="schedule">
      <div class="day">Jueves</div>
      <div class="time">8 AM - 7 PM</div>
    </div>
    <div class="schedule">
      <div class="day">Viernes</div>
      <div class="time">8 AM - 7 PM</div>
    </div>
    <div class="schedule">
      <div class="day">Sábado</div>
      <div class="time">8 AM - 7 PM</div>
    </div>
  </div>
</div>
