// main framework
@import 'node_modules/bootstrap/scss/functions';
@import 'node_modules/bootstrap/scss/variables';
@import 'node_modules/bootstrap/scss/variables-dark';

@import 'scss/settings/color-variables';
@import 'scss/settings/theme-variables';
@import 'scss/settings/bootstrap-variables.scss';

@import 'scss/bootstrap/bootstrap.scss';

@import 'node_modules/bootstrap/scss/utilities';
@import 'node_modules/bootstrap/scss/utilities/api';

// main framework
@import 'scss/themes/generic.scss';
@import 'scss/themes/general.scss';

// Layouts
@import 'scss/themes/layouts/layouts';

// Componants
@import 'scss/themes/components/components';

// pages
@import 'scss/themes/pages/page.scss';

@import 'scss/themes/customizer';
@import 'scss/style-preset.scss';

// fonts
// @import url('scss/fonts/berry/berry-icons.css'); /** custom font icons - berry **/
@import 'scss/fonts/tabler-icons.min.css';
@import 'scss/fonts/phosphor/duotone/style.css';
@import './app/demo/website/variables.scss';

html,
body {
  height: 100%;
  font-family: $font-primary !important;
}

p {
  font-size: 1rem;
}

// TODO: Indagar porque no aplica el dark a los horarios
// Dark Mode
@mixin apply-theme($theme) {
  background-color: map-get($theme, color-background);
  color: map-get($theme, color-text)!important;
  border-color: map-get($map: $theme, $key: color-outfit)!important;
}

// Light theme
body
body.darkmode .nav-content,
body.darkmode .nav-content .nav-link,
body.darkmode .card {
  @include apply-theme($theme-light);
}

// Dark theme
body.darkmode,
//Nav
body.darkmode .nav-content,
body.darkmode .nav-content .nav-link,
// Car
body.darkmode .card,
// Schedule
body.darkmode .container .schedule-container .schedule,
body.darkmode .container .schedule-container,
// Menus
body.darkmode .nav-content .dropdown-menu,
body.darkmode .nav-content .dropdown-menu .dropdown-item,
// Burger
body.darkmode .panel,
body.darkmode .panel .item {
  @include apply-theme($theme-dark);
}

